.nav-link {
    font-weight: 500;
}

.contact .row {
    padding: 1% 0 1% 0;
}

ul.linear-list li {
    display: inline;
}

.contact-header {
    font-size: 300%;
    font-weight: 500;
    font-family: 'Caveat', cursive;
}

.contact-footer {
    font-size: 200%;
    font-weight: 500;
    font-family: 'Caveat', cursive;
}

.contact-label {
    font-size: 120%;
    font-weight: 200;
    font-family: 'Caveat', cursive;
}

.col-contact {
    padding: 0;
}

footer {
    padding: 1%;
    position:absolute;
    bottom:0;
    width:100%;
}

footer li{
    padding: 1%;
}