/* Footer */
footer {
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    bottom:0;
    left: 0;
    right: 0;
    background: #FF2442;
    color: #3DB2FF;
}

footer .foot-row {
    margin-bottom: 0;
}


footer a{
    color: #3DB2FF;
    
}

footer .copyright {
    color: black;
}
footer .copyright a{
    color: black;
}

ul.linear-list li {
    display: inline;
    position: relative;
}

/* Card */

.card-stacked .card-content {
    padding-top: 0%;
}

.card-stacked .card-action{
    padding: 3% 2%;
}

.card-footer {
    height: 2%;
}
