{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Pratik | whoami {% endblock title %}
{% block body %}
<div class="container-fluid about container index-color">
    <div class="row">
        <div class="col col-md-8">
            <div class="container container-fluid">
                <span class="about-header">Hello <br>I am Pratik,</span>
                <p>People call me CRAZY sometimes!!</p>
            </div>
            <div class="container about-description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="col col-md-4">
            <img class="img img-fluid circle" src="{% static 'images/pratik.jpg' %}" alt="pratik">
        </div>
    </div>
</div>
<div class="container description container-fluid index-color text-center">
    <h1>What I Do....</h1>
    <div class="row">
        <div class="col col-md-4">
            <a href="#"><i class="fas fa-code fa-4x"></i></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <div class="col col-md-4">
            <a href="#"><i class="fas fa-music fa-4x"></i></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
        <div class="col col-md-4">
            <a href="#"><i class="fas fa-blog fa-4x"></i></a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
    </div>
</div>
<div class="container container-fluid projects">
    <h1>My Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col col-md-3">
            <div class="card rounded" style="width: 18rem;">
                <img class="card-img-top" src="{{project.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <p class="card-text">{{project.description}}</p>
                  <a href="{{project.link}}" class="btn btn-outline-primary">View Project</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}