{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Pratik | whoami {% endblock title %}
{% block body %}
<div class="container-fluid about container index-color">
    <div class="row">
        <div class="col col-md-8">
            <div class="container container-fluid">
                <span class="about-header">Hello <br>I am {{me.0.name}},</span>
                <p>{{me.0.subtitle}}</p>
            </div>
            <div class="container about-description">
                <p>{{me.0.description}}</p>
            </div>
        </div>
        <div class="col col-md-4">
            <img class="img img-fluid rounded float-right circle" src="{{me.0.pfp.url}}" alt="pratik">
        </div>
    </div>
</div>
<div class="container description container-fluid index-color text-center">
    <h1>My Hobbies....</h1>
    <div class="row">
        {% for hobby in hobbies %}
        <div class="col col-md-4">
            <a href="#"><i class="fas {{hobby.icon}} fa-4x"></i></a>
            <h3>{{hobby.title}}</h3>
            <p>{{hobby.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container container-fluid projects">
    <h1>My Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col col-md-3">
            <div class="card rounded" style="width: 18rem;">
                <img class="card-img-top" src="{{project.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <p class="card-text">{{project.description}}</p>
                  <a href="{{project.link}}" class="btn btn-outline-primary">View Project</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}