{% extends 'partials/partials.html' %}
{% block title %}
Silly | No logic is must
{% endblock title %}

{% block body %}
<div class="container">
    <h2 class="header">Trending Posts</h2>
    <!--Card Start-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <ul class="linear-list">
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                </ul>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="/post">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
    <!--Card End-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <ul class="linear-list">
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                </ul>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="/post">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="header">Recent Posts</h2>
    <!--Card Start-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <ul class="linear-list">
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                </ul>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="/post">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
    <!--Card End-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <ul class="linear-list">
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                </ul>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="/post">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block sidenav %}
<ul class="collection">
    <li href="#" class="waves-effect collection-item"><h5>Trending Catagories</h5></li>
    <ul class="collection">
        <li href="#" class="waves-effect collection-item">Cat 1</li>
        <li href="#" class="waves-effect collection-item">Cat 2</li>
        <li href="#" class="waves-effect collection-item">Cat 3</li>
        <li href="#" class="waves-effect collection-item">Cat 4</li>
        <li href="#" class="waves-effect collection-item">Cat 5</li>
    </ul>
    <li href="#" class="waves-effect collection-item"><h5>Trending Authors</h5></li>
    <ul class="collection">
        <li href="#" class="waves-effect collection-item">Author A</li>
        <li href="#" class="waves-effect collection-item">Author B</li>
        <li href="#" class="waves-effect collection-item">Author C</li>
        <li href="#" class="waves-effect collection-item">Author D</li>
        <li href="#" class="waves-effect collection-item">Author E</li>
    </ul>
    <li href="#" class="waves-effect collection-item"><h5>Trending Tags</h5></li>
    <ul class="collection">
        <li href="#" class="waves-effect collection-item">Tag A</li>
        <li href="#" class="waves-effect collection-item">Tag B</li>
        <li href="#" class="waves-effect collection-item">Tag C</li>
        <li href="#" class="waves-effect collection-item">Tag D</li>
        <li href="#" class="waves-effect collection-item">Tag E</li>
    </ul>
</ul>
{% endblock sidenav %}