{% extends 'partials/partials.html' %}
{% block title %}
Silly | No logic is must
{% endblock title %}

{% block body %}
<div class="container">
    <h2 class="header">Trending Posts</h2>
    <!--Card Start-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="#">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
    <!--Card End-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="#">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="header">Recent Posts</h2>
    <!--Card Start-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="#">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
    <!--Card End-->
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h3>Title</h3>
                <p>Description.  Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor, Lorem Ipsum Dolor</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn btn-small" href="#">View Post</a>
                <span class="right"> 45654 Views</span><br>
                <span class="right"> 45654 Points</span>
            </div>
            <div class="card-content card-footer">
                Post By <a href="#">Author</a> on <a href="#">Date</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block sidenav %}
<h2>Hello World!!</h2>
<p>I am a sidenav</p>
{% endblock sidenav %}