{% extends 'partials/partials.html' %}
{% load static %}
{% block title %}
Silly | Post
{% endblock title %}
{% block body %}
<div class="container post-container">
    <!-- User data -->
    <div class="row">
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'favicons/favicon.png' %}" href="#" alt="" class="circle">
              <span class="username-header title"><h5>User Name</h5></span>
              <a href="#" class="secondary-content">Date</a>
            </li>
        </ul>
    </div>
    <!-- Post heading and score actions -->
    <div class="row">
        <div class="col s2 center-align">
            <a class="btn-floating waves-effect waves-light white" href="#" name='upvote'>
                <i class="material-icons red-text medium">
                    expand_less
                </i>
            </a><br>
            <span>56</span><br>
            <a class="btn-floating waves-effect waves-light white" href="#" name='downvote'>
                <i class="material-icons red-text medium">
                    expand_more
                </i>
            </a><br>
            <span>Views: 45678</span>
            <a class="btn-floating white waves-effect waves-light"><i id="share" class="material-icons small red-text tooltipped" data-position="right" data-tooltip="Share">share</i></a>
        </div>
        <div class="col s10">
            <a id="bookmark" onclick="M.toast({html: 'Bookmark Added!', classes: 'rounded'})" class="secondary-content tooltipped" data-position="left" data-tooltip="Bookmark This Post!"><i id="bookmark-icon" class="material-icons medium red-text">bookmark_border</i></a>
            <h1>Hello World!</h1>
            <p>
                <ul class="linear-list">
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                    <li>
                        <div class="chip">
                            <a href="#">Cat1</a>
                          </div>
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <!-- Descriptions -->
    <div class="row">
        <p>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque por.
        </p>
    </div>
    <!-- Comment Post -->
    <div class="row">
        <form class="col s12">
            <div class="row">
                <form action="#">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Comment...</label>
                        <button class="btn waves-effect waves-light red" type="submit" name="action">Post
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </form>
    </div>
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
    <!-- Comments -->
    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="row comment-controls">
                <ul class="collection no-border">
                    <li  class="waves-effect collection-item">
                        <i class="material-icons small red-text">sentiment_very_satisfied</i>
                    </li>
                    <li  class="waves-effect collection-item">
                        <div class="input-field no-border">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Reply...</label>
                            <button class="btn waves-effect waves-light red" type="submit" name="action">Send
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Reply -->
        <li class="collection-item avatar reply">
            <img src="{% static 'favicons/favicon.png' %}" alt="" class="circle">
            <span class="title">Usre Name</span>
            <p>Comment date <br>
               Lorem Ipsum Dolor Amet.
            </p>
            <div class="col s2 right" style="position: absolute; top:10%; right:6%;">
                <i class="material-icons small red-text waves-effect">sentiment_very_satisfied</i>
            </div>
        </li>
        <!-- Reply End -->
    </ul>
    <!-- Comment End -->
</div>
{% endblock body %}
{% block sidenav %}
<!-- Sidenav -->
<li href="#" class="waves-effect collection-item"><h5>Trending</h5></li>
<ul class="collection">
    <li href="#" class="collection-item">Post Title 1</li>
    <li href="#" class="collection-item">Post Title 2</li>
    <li href="#" class="collection-item">Post Title 3</li>
    <li href="#" class="collection-item">Post Title 4</li>
    <li href="#" class="collection-item">Post Title 5</li>
</ul>
<li href="#" class="waves-effect collection-item"><h5>Recents</h5></li>
<ul class="collection">
    <li href="#" class="collection-item">Post Title 1</li>
    <li href="#" class="collection-item">Post Title 2</li>
    <li href="#" class="collection-item">Post Title 3</li>
    <li href="#" class="collection-item">Post Title 4</li>
    <li href="#" class="collection-item">Post Title 5</li>
</ul>
<li href="#" class="waves-effect collection-item"><h5>Catagories</h5></li>
<ul class="collection">
    <li href="#" class="waves-effect collection-item">Cat 1</li>
    <li href="#" class="waves-effect collection-item">Cat 2</li>
    <li href="#" class="waves-effect collection-item">Cat 3</li>
    <li href="#" class="waves-effect collection-item">Cat 4</li>
</ul>
{% endblock sidenav %}