{% extends 'partials/partials.html' %}
{% load static %}
{% block title %}
Silly | Dashboard
{% endblock title %}
{% block body %}
<div class="row">
    <!-- Profile Pic -->
    <div class="col s3">
        <img class="materialboxed rounded" width="180" src="{% static 'favicons/favicon.png' %}" alt="pfp">
        <form action="#">
            <div class="file-field input-field">
                <div class="btn waves-effect waves-teal">
                    <span>Change</span>
                    <input type="file">
                </div>
                <div hidden class="file-path-wrapper">
                    <input class="file-path validate" type=".png, .jpg, .jpeg" value="upload">
                </div>
            </div>
        </form>
    </div>
    <!-- Profile Details -->
    <h2>Profile</h2>
    <div class="col s9">
        <input class="username" value="@i_am_lol"></input>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="bio" class="bio materialize-textarea">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</textarea>
                    </div>
                </div>
            </form>
        </div>
          <h2>Connections</h2>
          <!-- Facebook Link -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="facebook-url" type="url" value='https://facebook.com/lol'>
                  <label for="facebook-url">Connect Facebook</label>
                </div>
              </div>
            </form>
          </div>
          <!-- Instagram Link -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="facebook-url" type="url" value='https://isntagram.com/lol'>
                  <label for="facebook-url">Connect Instagram</label>
                </div>
              </div>
            </form>
          </div>
          <!-- Twitter Link -->
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="facebook-url" type="url" value='https://twitter.com/lol'>
                  <label for="facebook-url">Connect Twitter</label>
                </div>
              </div>
            </form>
          </div>
                  <!-- Personal -->
        <h2>Account Details</h2>
        <form>
            <div class="row">
              <div class="input-field col s6">
                <input id="first-name" type="text" class="validate" value="John">
                <label for="first-name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last-name" type="text" class="validate" value="Doe">
                <label for="last-name">Last Name</label>
              </div>
            </div>
        </form>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" value="profile@email.com">
                <label for="email">Email</label>
                <span class="helper-text" data-error="Please enter a valid email" data-success="Seems OK!"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="prev-paswword" type="password" class="validate">
                  <label for="prev-password">Previous Password</label>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="new-paswword" type="password" class="validate">
                  <label for="new-password">New Password</label>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="confirm-paswword" type="password" class="validate">
                  <label for="confirm-password">Confirm Password</label>
                </div>
              </div>
            </form>
          </div>
        
        <div class="right-align">
            <a class="btn btn-floating waves-effect waves-light btn-large">
                <i class="material-icons">save</i>
            </a>
        </div>
    </div>
    <!-- Profile Details End -->
</div>
{% endblock body %}
{% block sidenav %}
<!-- Sidenav -->
<li href="#" class="waves-effect collection-item"><h5>Trending</h5></li>
<ul class="collection">
    <li href="#" class="collection-item">Post Title 1</li>
    <li href="#" class="collection-item">Post Title 2</li>
    <li href="#" class="collection-item">Post Title 3</li>
    <li href="#" class="collection-item">Post Title 4</li>
    <li href="#" class="collection-item">Post Title 5</li>
</ul>
<li href="#" class="waves-effect collection-item"><h5>Recents</h5></li>
<ul class="collection">
    <li href="#" class="collection-item">Post Title 1</li>
    <li href="#" class="collection-item">Post Title 2</li>
    <li href="#" class="collection-item">Post Title 3</li>
    <li href="#" class="collection-item">Post Title 4</li>
    <li href="#" class="collection-item">Post Title 5</li>
</ul>
<li href="#" class="waves-effect collection-item"><h5>Catagories</h5></li>
<ul class="collection">
    <li href="#" class="waves-effect collection-item">Cat 1</li>
    <li href="#" class="waves-effect collection-item">Cat 2</li>
    <li href="#" class="waves-effect collection-item">Cat 3</li>
    <li href="#" class="waves-effect collection-item">Cat 4</li>
</ul>
{% endblock sidenav %}