body {
    background: #FFEDDA;
    font-family: 'Caveat', cursive;
}

.nav-link {
    font-weight: 500;
}

nav.navbar {
    background: #3DB2FF;
}
.contact .row {
    padding: 1% 0 1% 0;
}

ul.linear-list li {
    display: inline;
}

.contact-header {
    font-size: 300%;
    font-weight: 500;
}

.contact-footer {
    font-size: 200%;
    font-weight: 500;
}

.contact-label {
    font-size: 120%;
    font-weight: 200;
}

.col-contact {
    padding: 0;
}

footer {
    padding: 1%;
    bottom:0;
    left: 0;
    right: 0;
    background: #FF2442;
    color: #3DB2FF;
}

footer li{
    padding: 1%;
}

footer a{
    color: #3DB2FF;
    
}

footer .copyright {
    color: black;
}
footer .copyright a{
    color: black;
}
/* index.html */
.about {
    background: #FFEDDA;
}
.description {
    background: #FFB830;
    padding: 2%;
}

.description p {
    font-size: 150%;
}


.about-header {
    font-weight: 600;
    font-size: 250%;
}

.index-color {
    color: #112031;
}

img.circle {
    border-radius: 50%!important;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
}

.projects {
    padding: 2%;
}

.card {
    background: #3DB2FF;
}